<template>
  <div>
    <div v-if="murrCards.length" class="m-cards">
      <masonry :cols="masonryCols" :gutter="masonryGutter">
        <div v-for="card in murrCards" :key="card.id" class="m-cards__item">
          <div class="m-cards__top">
            <div class="m-cards__author">
              <div
                class="m-cards__author-avatar"
                :style="{ backgroundImage: `url(${card.owner_avatar})` }"
              />
              <div class="m-cards__author-name" v-text="card.owner_name" />
            </div>
            <!-- .m-cards__author -->

            <div class="m-cards__actions">
              <el-button
                @click="onCopyMurrLink(card.id)"
                type="text"
                icon="el-icon-share m-cards__share-icon"
                class="m-cards__share-button"
              />
            </div>
          </div>
          <!-- .m-cards__top -->

          <div
            v-if="card.cover"
            @click="onOpenMurrCard(card.id)"
            class="m-cards__cover"
          >
            <img
              :src="card.cover"
              :alt="card.title"
              class="m-cards__cover-img"
            />
          </div>
          <!-- .m-cards__cover -->

          <div
            @click="onOpenMurrCard(card.id)"
            v-text="card.title"
            class="m-cards__title"
          />
          <!-- .m-cards__title -->

          <div class="m-cards__footer">
            <div class="m-cards__rating">
              <el-button
                icon="el-icon-arrow-up"
                type="text"
                class="m-cards__rating-like"
                @click="onRatingLike(card)"
              />

              <el-button
                type="text"
                class="m-cards__rating-counter"
                :class="{
                  positive: card.rating > 0,
                  negative: card.rating < 0,
                }"
              >
                {{ card.rating }}
              </el-button>

              <el-button
                icon="el-icon-arrow-down"
                type="text"
                class="m-cards__rating-unlike"
                @click="onRatingUnlike(card)"
              />
            </div>
          </div>
          <!-- .m-cards__footer -->
        </div>
      </masonry>
    </div>

    <observer @murrIntersect="handlerFetchNextCards" :key="murrCards.length" />

    <loader v-if="isLoading" />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Observer from "../common/Observer.vue";
import MurrCardDetail from "./MurrCardDetail.vue";
import * as type from "./store/type.js";

import { copyToBuffer } from "../../utils/helpres.js";

import "./scss/style.scss";

export default {
  name: "MurrCardList",

  components: {
    Observer,
  },

  data: () => ({
    isHover: false,
    isLoading: true,
    masonryGutter: { default: "30px" },

    page: 0,
    existsNextPage: false,
  }),

  async created() {
    await this.fetchMurrCards();
  },

  beforeDestroy() {
    this.$store.commit(type.MURR_CARDS_CLEAR);
  },

  computed: {
    murrCards() {
      return this.$store.getters.murrList;
    },

    masonryCols() {
      return {
        default: this.murrCards.length > 4 ? 4 : this.murrCards.length,
        1450: this.murrCards.length > 3 ? 3 : this.murrCards.length,
        1100: this.murrCards.length > 2 ? 2 : this.murrCards.length,
        700: 1,
      };
    },

    isMurrenAuthorized() {
      return (
        this.$store.getters.accessToken_getters &&
        this.$store.getters.accessToken_getters !== ""
      );
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      handlerSignInModal: "changeShowLoginForm_actions",
    }),

    async fetchMurrCards() {
      this.isLoading = true;

      this.page = this.page + 1;
      const { existsNextPage, success } = await this.$store.dispatch(
        type.MURR_CARD_FETCH_LIST,
        {
          page: this.page,
        }
      );

      if (success) {
        this.existsNextPage = existsNextPage;
      }

      this.isLoading = false;
    },

    handlerFetchNextCards() {
      if (!this.existsNextPage) return;

      this.fetchMurrCards();
    },

    async onRatingLike(card) {
      if (!this.isMurrenAuthorized) {
        this.notification({
          message: `Войди и можно ставить рейтинги!`,
          type: "success",
        });

        this.handlerSignInModal();
        return;
      }

      const { success, data } = await this.$store.dispatch(
        type.MURR_CARD_LIKED,
        { murrID: card.id }
      );

      if (success) {
        card.rating = data.rating;
      }
    },

    async onRatingUnlike(card) {
      if (!this.isMurrenAuthorized) {
        this.notification({
          message: `Войди и можно ставить рейтинги!`,
          type: "success",
        });

        this.handlerSignInModal();
        return;
      }

      const { success, data } = await this.$store.dispatch(
        type.MURR_CARD_UNLIKED,
        {
          murrID: card.id,
        }
      );

      if (success) {
        card.rating = data.rating;
      }
    },

    onOpenMurrCard(murrID) {
      this.$store.commit("modal/open", {
        transition: "el-zoom-in-top",
        component: {
          render: MurrCardDetail,
          context: { murrID },
        },
      });
    },

    onCopyMurrLink(murrID) {
      const murrCardLink = `${window.location.href}murr_card/${murrID}`;
      copyToBuffer(murrCardLink);

      this.notification({
        message: `Линка на мурр скопирована 😊`,
        type: "success",
      });
    },
  },
};
</script>
